<%= render "layouts/navbar" %>
<div class="container">
  <div class="create-recipe">
    <div class="create-form">
  <h1>CREATE A NEW COCKTAIL</h1>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url, placeholder: "https://kitt.lewagon.com/placeholder/cities/shanghai" %>

    <%= f.submit "Create a cocktail", class: "submit" %>
  <% end %>
</div>
</div>
</div>
<%= render "layouts/footer" %>
