<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= @cocktail.image_url %>'); height: 50vh; background-position: center;">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="row">

  <div class="col-xs-12 col-sm-6">
    <ul class="list-unstyled">
      <% @cocktail.doses.each do |d| %>
        <li class="dose"><%= d.description %> - <%= d.ingredient.name %> - <span class="delete">X</span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h4>Add ingredient :</h4>
      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
        <%= f.association :ingredient, prompt: "Choose an ingredient" %>
        <%= f.input :description %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>

<%= link_to "Go back to list", cocktails_path %>
<%= link_to 'Delete cocktail', cocktail_path(@cocktail.id), method: :delete %>

<div class="row">

  <div class="col-xs-12 col-sm-6">
    <ul class="list-unstyled">
      <% @cocktail.reviews.each do |d| %>
        <li class="dose"><%= d.rating %></li>
        <li class="dose"><%= d.content %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h4>Add a review :</h4>
      <%= simple_form_for [ @cocktail, @review ] do |f| %>
        <%= f.input :rating %>
        <%= f.input :content %>
        <%= f.submit "add a review", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
