<%= render "layouts/navbar" %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('<%= @cocktail.image_url %>'); height: 50vh; background-position: center;">
  <div class="banner-header">
    <h1><%= @cocktail.name %></h1>
  </div>
  <div class="banner-content" id="sweet-alert-delete">
  <%= link_to image_tag('rubbish.png'), cocktail_path(@cocktail.id), method: :delete %>
  </div>
</div>

<div class="content" >
  <div class="row">

  <div class="col-xs-12 col-sm-6">
    <h3 class="green-title"><strong><%= @cocktail.name %>'s recipe :</strong></h3>
    <ul class="list-unstyled">
      <% @cocktail.doses.each do |d| %>
        <li class="dose"><strong><%= d.description %></strong> <%= d.ingredient.name %> <%= link_to image_tag('x_close.png'), dose_path(d), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-6">
      <div class="form-ingredient">
        <h4>Add ingredient :</h4>
        <%= simple_form_for [ @cocktail, @dose ] do |f| %>
          <%= f.association :ingredient, prompt: "Choose an ingredient" %>
          <%= f.input :description, label: "Quantity" %>
          <%= f.submit "Add", class: "submit" %>
        <% end %>
      </div>
    </div>
  </div>



  <div class="review">
    <h2 class="text-center"><strong>Comments</strong> (<%= @cocktail.reviews.count %>)</h2>
    <a name="anchor-review"></a>
    <div class="posted-message">
      <% if @cocktail.reviews.any? %>
        <% @cocktail.reviews.each do |r| %>
          <div class="delete-review">
            <%= link_to image_tag('x_close.png'), review_path(r), method: :delete %>
          </div>
          <div class="message-box">
            <div class="avatar-large">
              <%= image_tag "cocktail-reviews.png", id: "review-picture" %>
            </div>
            <div class="message-name">
              <h4><%= r.commenter %></h4>
              <p><%= Date.new.to_time.strftime('%B %e') %></p>
              <p><%= Date.new.to_time.strftime('at %l:%M %p') %></p>
            </div>
            <div class="message-body">
              <p><%= r.content %></p>
            </div>
            <div class="message-rating">
              <p class="rating-title">Rating</p>
              <p class="rating"><%= r.rating %>/5</p>
            </div>
        </div>
        <% end %>
        <p class="green-title average-rating"><%= @cocktail.name %> has an average rating of <%= @cocktail.reviews.average("rating") %>/5</p>
      <% else %>
        <p class="no-comments">There are no comments yet.</p>
      <% end %>
    </div>

    <div class="posted-message">
      <div class="form-review">
        <h3>Add a review :</h3>
        <%= simple_form_for [ @cocktail, @review ] do |f| %>
          <%= f.input :commenter, label: "Your name"%>
          <%= f.input :rating %>
          <%= f.input :content, label: "Your review" %>
          <%= f.submit "Add a review", class: "submit" %>
        <% end %>
    </div>
    </div>
  </div>
  <div class="downpage-links">
    <% if @cocktail.previous.presence %>
      <p><%= link_to "Previous cocktail", @cocktail.previous %></p>
    <% end %>
      <p><%= link_to "Go back to list", cocktails_path %></p>
    <% if @cocktail.next.presence %>
      <p><%= link_to "Next cocktail", @cocktail.next %></p>
    <% end %>
  </div>

</div>

<%= render "layouts/footer" %>
